
@import "../node_modules/bulma/bulma.sass";

$m: 768px;

body{
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background: blue; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, cadetblue, #9fc2f9);
    background: -moz-linear-gradient(right, cadetblue, #9fc2f9);
    background: -o-linear-gradient(right, cadetblue, #9fc2f9);
    background: linear-gradient(to left, cadetblue, #9fc2f9);
    margin: auto;
}

.sign-in{
    align-self: auto;
    margin: auto;
    width: fit-content;
    padding: 2%;
    
}

.container {
    position: relative;
    max-width: 400px;
    align-content: center;
}

.form{
    position: relative;
  z-index: 1;
  background: #FFFFFF;
  align-items: center;
  margin: auto;
  padding: 0 45px 45px 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    background: #f2f2f2;
    border: 0;
    margin: auto;
    padding: 15px;
    font-size: 14px;
}

.user-img{
    position: relative;
    padding: 8% 0;
    
  }
  .user-img figure{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }